<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Django Paginator example</title>
</head>
<body>
	<div class="container">
		{% for post in page_obj.object_list %}
		{# note that the list of posts are in the page_obj.object_list not page_obj #}
			<h1>{{post.oid}}</h1>
			<h1>{{post.name}}</h1>
			<h1>{{post.address}}</h1>
			<h1>{{post.mail}}</h1>
			<h1>{{post.product}}</h1>




			<hr/>
		{% endfor %}
	</div>
	<center>
		{%if page_obj.has_previous %} {# whether the previous page exists #}
			<a href="?page={{page_obj.previous_page_number}}"><</a> {# link to the prev page #}
		{% endif %}
		<span>{{page_obj.number}}</span> {# the current page number #}

		{%if page_obj.has_next %} {# whether the next page exists #}
			<a href="?page={{page_obj.next_page_number}}">></a> {# link to the next page #}
		{% endif %}
	</center>

<button class="btn btn-success"><a href="{% url 'show_url' %}" style="color:black;">Show All Data</a></button>
</body>
</html>
